.btn {
  border-radius: 5px;
  padding: 12px 24px;
  text-transform: uppercase;
  background-color: white;
  min-width: 150px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  letter-spacing: 1.8px;
  border: none;
  transition: all 0.2s;
}

.btn--outline {
  color: white;
  background-color: transparent;
  border: 2px solid var(--borders-color);
}

.btn--large {
  min-width: 200px;
}

.btn:active {
  transform: scale(0.95);
}

.btn:hover {
  background: rgba(255, 255, 255, 0.85);
}

.btn--outline:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn[disabled] {
  pointer-events: none;
  background: #bebebe;
}

input {
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  min-width: 180px;
  font-family: "Barlow Semi Condensed", sans-serif;
  box-sizing: border-box;
}

input.disabled {
  border-color: var(--borders-color);
  pointer-events: none;
  user-select: none;
}

.toasts {
  bottom: 0 !important;
  top: unset !important;
  right: auto !important ;
  left: auto;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.toasts .toast {
  border-radius: 5px;
}
